@{
    ViewData["Title"] = "Home";
}


	<!-- end search area -->

	<!-- hero area -->
	<div class="hero-area hero-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle">United Federation of Planets</p>
							<h1>Starfleet Shipyards</h1>							
							<div class="hero-btns">
								<a href="shop.html" class="boxed-btn">Enter Requisitions</a>
								<!-- <a href="contact.html" class="bordered-btn">Contact Us</a> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end hero area -->



	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="~/assets/img/UFP/tripleShips.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="~/assets/img/UFP/sovereign.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="~/assets/img/UFP/odessy.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="~/assets/img/UFP/regent.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="~/assets/img/UFP/endeavor.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="~/assets/img/UFP/bravoFleet.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="~/assets/img/UFP/pngwing.com (4).png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="~/assets/img/UFP/pngwing.com (6).png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="~/assets/img/UFP/pngwing.com (8).png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="~/assets/img/UFP/pngwing.com (10).png" alt="">
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->